*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.btn{
    width: 10rem;
    height: 10rem;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.box-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.userflash{
    background-color: white;
}
.gameflash{
    background-color: white;
}